In [3]:
display("Hello Word!!")

'Hello Word!!'

In [ ]:
import pandas as pd

In [4]:
tabela = pd.DataFrame(
    {"Nome":["Guilherme","Leticia", "Rapha"],
     "Idade": [30,26,21]}
     )
display(tabela)

        Nome  Idade
0  Guilherme     30
1    Leticia     26
2      Rapha     21